<html>
    <head>
        {% if title %}
        <title>{{ title }} - WebProg1</title>
        {% else %}
        <title>WebProg1</title>
        {% endif %}
    </head>
    <body>
        <div>
            WebProg1:
            <a href="{{ url_for('get_index') }}">Home</a>
            <a href="{{ url_for('get_login') }}">Login</a>
            <a href="{{url_for('get_register')}}">Register</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>